{{ $name := promptString "full name" -}}
{{ $email := promptString "email" -}}
encryption = "age"
[age]
  identity = "{{ .chezmoi.homeDir }}/key.txt"
  recipient = "age1p3v5hagp0l65fxz0fzvp3e6mg4kvlhtzcpsecy6ejfejprhmzsvqjqeyre"
[data]{{ if eq .chezmoi.os "darwin" }}
  brewhome = "/opt/homebrew"
  passwordSigningProgram = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if eq .chezmoi.os "linux" }}
  brewhome = "/home/linuxbrew/.linuxbrew"
  passwordSigningProgram = "/opt/1Password/op-ssh-sign"
{{ end }}
  name = {{ $name | quote }}
  email = {{ $email | quote }}
