{{ $name := promptString "full name" -}}
{{ $email := promptString "work email" -}}
{{ $codedir := promptChoice "Which directory for your code repos" (list "code" "dev" "src") -}}
encryption = "age"
[age]
  passphrase = true
[data]{{ if eq .chezmoi.os "darwin" }}
  brewhome = "/opt/homebrew"
  passwordSigningProgram = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if eq .chezmoi.os "linux" }}
  brewhome = "/home/linuxbrew/.linuxbrew"
  passwordSigningProgram = "/opt/1Password/op-ssh-sign"
{{ end }}
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  codedir = {{ $codedir | quote }}
