[user]
	name = {{ .name | quote }}
	email = {{ .email }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEm5zaoCjcbzsbCXmLxwWaqApB/NMIm1HuVED62xurFm
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ .passwordSigningProgram | quote }}
	allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
[commit]
	gpgsign = true
[pull]
	rebase = true
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[includeIf "gitdir:{{ .chezmoi.homeDir }}/rent-corp/"]
	path = {{ .chezmoi.homeDir }}/rent-corp/.gitconfig
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
