[user]
	name = {{ .name | quote }}
	email = {{ .email }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILytzInE0tJne8iXzT5f+MAnwgUj21538rMmrVhomDWr
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ .passwordSigningProgram | quote }}
[commit]
	gpgsign = true
[pull]
	rebase = true
