[user]
	name = Zach A. Thomas
	email = zach.thomas@dividendfinance.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILytzInE0tJne8iXzT5f+MAnwgUj21538rMmrVhomDWr
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[pull]
	rebase = true
