#!/bin/bash
{{ if not (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) -}}
{{ if not (lookPath "gh") }}
eval "$({{ .brewhome }}/bin/brew shellenv)"
{{ end }}
{{ end -}}
if ! gh auth status >/dev/null 2>&1; then
    gh auth login --git-protocol ssh --hostname github.com --web -s admin:public_key -s admin:ssh_signing_key
fi
