#!/bin/bash
{{ if not (findOneExecutable (list "brew") (list "/opt/homebrew/bin" "/home/linuxbrew/.linuxbrew/bin")) }}
    {{ if eq "linux" .chezmoi.os }}
sudo apt install -y git build-essential gcc unzip
    {{ end }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
echo >> .bashrc
echo >> .zshrc
echo 'eval "$({{ .brewhome }}/bin/brew shellenv)"' >> .bashrc
echo 'eval "$({{ .brewhome }}/bin/brew shellenv)"' >> .zshrc
{{ end }}
{{ if not (lookPath "brew") }}
eval "$({{ .brewhome }}/bin/brew shellenv)"
{{ end }}
{{ if not (lookPath "asdf") }}
brew install asdf
{{ end }}
