#!/bin/bash
# mise config hash: {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}
{{ if and (not .isArch) (not (lookPath "mise")) -}}
eval "$({{ .brewhome }}/bin/brew shellenv)"
{{ end -}}
mise install
echo "Finished mise install."
