tap "atlassian/homebrew-acli"
tap "aws/tap"
tap "babashka/brew"
tap "borkdude/brew"
tap "clojure/tools"
tap "conduktor/brew"
tap "datadog-labs/pack"
tap "polyfy/polylith"
tap "steveyegge/beads"
brew "cloc"
brew "clojure-lsp"
brew "conduktor/brew/conduktor-cli"
brew "dolt"
brew "figlet"
brew "fish"
brew "fswatch"
brew "git"
brew "kubectl"
brew "mise"
brew "pgbouncer"
brew "rlwrap"
brew "wget"
brew "atlassian/homebrew-acli/acli"
brew "aws/tap/eksctl"
brew "babashka/brew/neil"
brew "borkdude/brew/jet"
brew "datadog-labs/pack/pup"
brew "polyfy/polylith/poly"
{{ if eq "darwin" .chezmoi.os }}
brew "lima-additional-guestagents"
cask "emacs-plus-app"
cask "font-fira-code"
cask "qlmarkdown"
{{ end }}
