tap "atlassian/homebrew-acli"
tap "aws/tap"
tap "babashka/brew"
tap "borkdude/brew"
tap "clojure/tools"
tap "conduktor/brew"
tap "hashicorp/tap"
tap "polyfy/polylith"
tap "steveyegge/beads"
brew "asdf"
brew "azure-cli"
brew "bat"
brew "bazelisk"
brew "cloc"
brew "clojure-lsp"
brew "conduktor/brew/conduktor-cli"
brew "direnv"
brew "docker"
brew "docker-compose"
brew "dolt"
brew "eza"
brew "fd"
brew "figlet"
brew "fish"
brew "flyctl"
brew "fswatch"
brew "fzf"
brew "git"
brew "gh"
brew "glow"
brew "gum"
brew "helm"
brew "httpie"
brew "hugo"
brew "jq"
brew "kubectl"
brew "lsd"
brew "pgbouncer"
brew "sqlite"
brew "ripgrep"
brew "rlwrap"
brew "shellcheck"
brew "starship"
brew "tmux"
brew "uv"
brew "wget"
brew "yq"
brew "zig"
brew "atlassian/homebrew-acli/acli"
brew "aws/tap/eksctl"
brew "borkdude/brew/babashka"
brew "babashka/brew/neil"
brew "borkdude/brew/clj-kondo"
brew "borkdude/brew/jet"
brew "clojure/tools/clojure"
brew "hashicorp/tap/vault"
brew "polyfy/polylith/poly"
{{ if eq "darwin" .chezmoi.os }}
brew "colima"
brew "lima-additional-guestagents"
cask "emacs-plus-app"
cask "font-fira-code"
cask "qlmarkdown"
{{ end }}
