if status is-interactive
    # Commands to run in interactive sessions can go here
end
# ASDF configuration code
if test -z $ASDF_DATA_DIR
    set _asdf_shims "$HOME/.asdf/shims"
else
    set _asdf_shims "$ASDF_DATA_DIR/shims"
end

# Do not use fish_add_path (added in Fish 3.2) because it
# potentially changes the order of items in PATH
if not contains $_asdf_shims $PATH
    set -gx --prepend PATH $_asdf_shims
end
set --erase _asdf_shims

set -x REDFIN_MAIN {$HOME}/code/main
set -x REDFIN_GLOBAL_DEVCONTAINERS_ENV_FILE /usr/local/redfin/devcontainers/global.env
set -x REDFIN_DATA_SECURE /usr/local/redfin/data/secure
set -x DEFAULT_KAFKA_SSL_TRUSTSTORE_LOCATION /usr/local/redfin/data/secure/ssl/default.kafka.client.truststore.jks
set -x DEFAULT_KAFKA_SSL_TRUSTSTORE_PASSWORD (cat /usr/local/redfin/data/secure/ssl/default.truststore.password)
set -x CONFLUENT_HOME {$HOME}/confluent-7.9.0
set -x PATH {$HOME}/.asdf/shims {$HOME}/n/bin {{ .brewhome }}/bin {$HOME}/code/fin/bin {$CONFLUENT_HOME}/bin {$HOME}/bin {$HOME}/.local/bin $PATH {{ .brewhome }}/opt/postgresql@16/bin {$HOME}/infra/bin
set -x LC_ALL en_US.UTF-8
starship init fish | source
set -x JAVA_HOME (asdf where java)


test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish
direnv hook fish | source

fzf --fish | source

alias ls='eza'
alias tree='lsd --tree'
alias corvair=$REDFIN_MAIN/bin/corvair

ulimit -n 8000

